---
layout: page
title: Tags
subtitle: Keep calm and carry on.
permalink: /tags/
---

{% assign tags_list = site.tags | sort %}

<section class="post-tags post-tags-all">
{% for tag in tags_list %}
<a class="post-tags-item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}({{ tag[1] | size }})</a>
{% endfor %}
</section>

<hr>

{% for tag in tags_list %}
<h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}({{ tag[1] | size }})</h2>

<ul>
    {% for post in tag[1] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="date"><time datetime="{{ post.date | date_to_xmlschema }}"> - {{ post.date | date: "%Y-%m-%d" }}</time></span>
    </li>
    {% endfor %}
</ul>
{% endfor %}
