<table class="bizcard">
    <tr><td class="item">{% include icon-fa.html faid='user' %}</td><td>{{ site.my.name }}</td></tr>
    <tr><td class="item">{% include icon-fa.html faid='map-marker' %}</td><td>{{ site.my.location }}</td></tr>
    <tr><td class="item">{% include icon-fa.html faid='graduation-cap' %}</td><td>{{ site.my.school }}</td></tr>
    <tr><td class="item">{% include icon-fa.html faid='github' %}</td><td><a href="https://github.com/{{ site.my.githubid }}">{{ site.my.githubid }}</a></td></tr>
    <tr><td class="item">{% include icon-fa.html faid='envelope' %}</td><td>{{ site.my.email }}</td></tr>
    <tr><td class="item">{% include icon-fa.html faid='weixin' %}</td><td>{{ site.my.weixin }}</td></tr>
</table>
