<table class="bizcard">
    <tr><td class="item"><i class="fas fa-user"></i></td><td>{{ site.my.name }}</td></tr>
    <tr><td class="item"><i class="fas fa-map-marker"></i></td><td>{{ site.my.location }}</td></tr>
    <tr><td class="item"><i class="fas fa-graduation-cap"></i></td><td>{{ site.my.school }}</td></tr>
    <tr><td class="item"><i class="fab fa-github"></i></td><td><a href="https://github.com/{{ site.my.githubid }}">{{ site.my.githubid }}</a></td></tr>
    <tr><td class="item"><i class="fas fa-envelope"></i></td><td>{{ site.my.email }}</td></tr>
    <tr><td class="item"><i class="fab fa-weixin"></i></td><td>{{ site.my.weixin }}</td></tr>
</table>
