<table class="bizcard">
    <tr><td class="item"><i class="icon-user"></i></td><td>{{ site.my.name }}</td></tr>
    <tr><td class="item"><i class="icon-location"></i></td><td>{{ site.my.location }}</td></tr>
    <tr><td class="item"><i class="icon-graduation-cap"></i></td><td>{{ site.my.school }}</td></tr>
    <tr><td class="item"><i class="icon-github-circled"></i></td><td><a href="https://github.com/{{ site.my.githubid }}">{{ site.my.githubid }}</a></td></tr>
    <tr><td class="item"><i class="icon-mail-alt"></i></td><td>{{ site.my.email }}</td></tr>
    <tr><td class="item"><i class="icon-wechat"></i></td><td>{{ site.my.weixin }}</td></tr>
</table>
